.dl-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;

    display: inline-block;
    width: 7.5rem;
    height: 2.5rem;
    padding: 0;
    margin-right: 0 !important;

    font-family: VSCO Gothic Medium, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: .875rem;
    line-height: 2.5rem;

    border: .0625rem solid #000;
    color: #000;
    background-color: white;
    transform: translateY(4rem);
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.dl-btn:hover {
    background-color: #000;
    color: #fff;
}

.relative {
    overflow: hidden
}

.relative:hover .dl-btn {
    transform: none;
}
